<div class="col-md-9" id="sidebarContent">
  <h5 class="title-show d-none mt-5 mb-3"><span>Services réalisés</span></h5>
  <div class="row mb-3">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
        <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
        <p class="card-text">
          Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
          de 2 semaines.
          Votre profil correspond à notre attente ,j'espère qu'on pourra
          collaborer.cordialement.
        </p>
        <p class="postedBy">
          <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
          <a href="#" class="card-link">Il y'a 1 semaine</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
        <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
        <p class="card-text">
          Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
          de 2 semaines.
          Votre profil correspond à notre attente ,j'espère qu'on pourra
          collaborer.cordialement.
        </p>
        <p class="postedBy">
          <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
          <a href="#" class="card-link">Il y'a 1 semaine</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
        <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
        <p class="card-text">
          Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
          de 2 semaines.
          Votre profil correspond à notre attente ,j'espère qu'on pourra
          collaborer.cordialement.
        </p>
        <p class="postedBy">
          <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
          <a href="#" class="card-link">Il y'a 1 semaine</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
        <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
        <p class="card-text">
          Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
          de 2 semaines.
          Votre profil correspond à notre attente ,j'espère qu'on pourra
          collaborer.cordialement.
        </p>
        <p class="postedBy">
          <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
          <a href="#" class="card-link">Il y'a 1 semaine</a>
        </p>
      </div>
    </div>
  </div>
</div>
