<!-- header -->
<header class="bg-body-tertiary">
  <app-navbar></app-navbar>
  <div class="py-5 bg-provider">
    <div class="container">
      <div class="row text-center mt-3">
        <div class="col-md-2 bg-pro">
        </div>
        <div class="col-md-8 mt-5">
          <h2 class="text-center"> Trouver facilement le meilleur prestataire !</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio unde velit recusandae,
            corrupti consequuntur deleniti nihil quod mollitia cupiditate sed quam delectus quae, id,
            amet architecto illo ea soluta.</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row  text-center p-4">
        <div class="col-md-12">
          <button class="btn bg-second fw-semibold rounded-pill btn-lg mt-2 px-8 px-sm-12 shadow" data-bs-toggle="modal"
            data-bs-target="#exampleModal" data-bs-whatever="@mdo">Demander un
            devis gratuitement</button>
        </div>
      </div>
    </div>
  </div>
</header>
