<div class="card mt-4" id="annonce">
    <div class="card-body">
      <h5 class="card-title card-title-annonce">{{cardTitle}}</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-tags"></i> {{cardCategory}}</h6>
      <p class="card-text">
        {{cardContenu}}
      </p>
      <p class="postedBy">
        <a href="#" class="card-link">Il y'a 20 minutes</a>
      </p>
      <a href="" class="btn btn-primary">Voir Plus...</a>

      <a href="" class="btn btn-success">Accepter</a>

      <a href="" class="btn btn-danger">refuser</a>
    </div>
  </div>
