<section id="sidebar" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6 class="d-none d-sm-block">
          Nos principaux métiers
        </h6>
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="sidebar-ul">
           <app-metier-item [icon]="'baby_changing_station'" [text]="'Nounou'"></app-metier-item>
           <app-metier-item [icon]="'directions_car'" [text]="'Chauffeur'"></app-metier-item>
           <app-metier-item [icon]="'light_group'" [text]="'Electricien'"></app-metier-item>
           <app-metier-item [icon]="'local_shipping'" [text]="'Coursier'"></app-metier-item>
           <app-metier-item [icon]="'valve'" [text]="'Plombier'"></app-metier-item>
           <app-metier-item [icon]="'food_bank'" [text]="'Domestique'"></app-metier-item>
           <app-metier-item [icon]="'local_florist'" [text]="'Jardinier'"></app-metier-item>
          </ul>

          <div class="crd mt-5 pb-3 text-dark d-none d-sm-block">
            <h4>Exercez votre actvité en portage salarial</h4>
            <p class="text-justify">
              Profitez de la liberté du freelance et bénéficiez des avantages du salarié grâce au
              portage salarial.
            </p>
          </div>
          <div class="crd pb-3 text-dark d-none d-sm-block">
            <h4>Trouver un prestataire rapidement</h4>
            <p class="text-justify">
              Choisissez votre prestataire parmis les nombreux prestataire disponibles pour la
              réalisation de votre service.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9" id="sidebarContent">
        <h5 class="title-show  mt-5 mb-3"><span>Services réalisés</span></h5>
        <div class="row mb-3">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
              <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
              <p class="card-text">
                Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
                de 2 semaines.
                Votre profil correspond à notre attente ,j'espère qu'on pourra
                collaborer.cordialement.
              </p>
              <p class="postedBy">
                <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
                <a href="#" class="card-link">Il y'a 1 semaine</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
              <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
              <p class="card-text">
                Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
                de 2 semaines.
                Votre profil correspond à notre attente ,j'espère qu'on pourra
                collaborer.cordialement.
              </p>
              <p class="postedBy">
                <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
                <a href="#" class="card-link">Il y'a 1 semaine</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
              <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
              <p class="card-text">
                Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
                de 2 semaines.
                Votre profil correspond à notre attente ,j'espère qu'on pourra
                collaborer.cordialement.
              </p>
              <p class="postedBy">
                <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
                <a href="#" class="card-link">Il y'a 1 semaine</a>
              </p>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Bésoin d'un éléctricien pour partenariat</h5>
              <h6 class="card-subtitle mb-2 "><i class="fa-solid fa-tags"></i> Electricien</h6>
              <p class="card-text">
                Bonjour, Nous recherchons un éléctricien qui va intégrer notre equipe pour une durée
                de 2 semaines.
                Votre profil correspond à notre attente ,j'espère qu'on pourra
                collaborer.cordialement.
              </p>
              <p class="postedBy">
                <span><img class="avatar" src="./assets/images/nounou.jpg" alt="" srcset=""></span>
                <a href="#" class="card-link">Il y'a 1 semaine</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
