    <!-- section about -->
    <section id="about">
      <div class="container mt-5 mb-5">
          <div class="row">
              <div class="col-md-4">
                  <div class="icon">
                      <img src="./assets/images/convenient.png" alt="">
                      <span class="title">Simple</span>
                  </div>
                  <div class="desc">
                      <p>Trouver votre prestataire en quelques clique!</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="icon">
                      <img src="./assets/images/clock.png" alt="">
                      <span class="title">Rapide</span>
                  </div>
                  <div class="desc">
                      <p>Trouver votre prestataire en quelques clique!</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="icon">
                      <img src="./assets/images/finger-snap.png" alt="">
                      <span class="title">Efficace</span>

                  </div>
                  <div class="desc">
                      <p>Trouver votre prestataire en quelques clique!</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end about section -->
