<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <button (click)="goBack()" class="btn btn-outline-primary"> retour </button>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black shadow" style="background:#F4F6F8; border: none;">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../assets/images/logo2.png" style="width: 185px;" alt="logo">
                  <hr>
                  <h4 class="mt-4 mb-5 pb-1">INSCRIPTION</h4>
                </div>

                <form>
                  <div class="row">
                    <div class="form-outline mb-4 col">
                      <label class="form-label" for="userLastname">Nom</label>
                      <input type="text" [(ngModel)]="register.nom" name="nom" class="form-control" placeholder="Entrez votre nom svp!" id="userLastname" />
                      <br> <span class="user-nom error"> veuillez renseigner ce champ</span>

                    </div>

                    <div class="form-outline mb-4 col">
                      <label class="form-label" for="userFistname">Prénoms</label>
                      <input type="text" [(ngModel)]="register.prenoms" name="prenoms"  class="form-control" placeholder="Entrez vos prenoms svp!" id="userFistname" />
                      <br> <span class="user-prenom error"> veuillez renseigner ce champ</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-outline mb-4 col">
                      <label class="form-label" for="categorie">Categorie</label>
                      <select class="form-select" [(ngModel)]="register.category_name"   id="categorie" name="categorie" aria-label="Default select example">
                        <option disabled selected>Selectionner une option</option>
                      </select>
                      <br> <span class="user-categorie error"> veuillez selectionner la catégorie</span>

                    </div>
                  </div>

                  <div class="row">

                    <div class="form-outline mb-4 col">
                      <label class="form-label" for="userEmail">Email</label>
                      <input type="email" [(ngModel)]="register.email" name="email"  class="form-control" placeholder="Entrez votre email svp!" id="userEmail" />
                      <br> <span class="user-email error"> veuillez renseigner ce champ</span>
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-outline mb-4 col">
                      <label class="form-label" for="userPhone">Téléphone</label>
                      <input type="text" class="form-control" [(ngModel)]="register.telephone" name="telephone"  placeholder="Entrez votre numéro de télephone svp!"
                        id="userPhone" />
                      <br> <span class="user-telephone error"> veuillez renseigner ce champ</span>
                    </div>


                  </div>

                  <div class="row">
                    <div class="form-outline mb-4 col">
                      <label class="form-label" for="userPassword">Mot de passe</label>
                      <input type="password" class="form-control"  [(ngModel)]="register.password" name="password" id="userPassword" />
                      <br> <span class="user-password error"> veuillez renseigner ce champ</span>
                    </div>
                    <div class="form-outline mb-4 col">
                      <label class="form-label" for="userPasswordConfirm">Confirmation de mot de passe</label>
                      <input type="password"  [(ngModel)]="register.passwordConfirm" name="passwordConfirm" class="form-control" id="userPasswordConfirm" />
                      <br> <span class="user-passordconfirm error"> veuillez renseigner ce champ</span>
                    </div>
                  </div>

                  <div class="row">


                    <div class="col"></div>
                    <button type="button" class="btn btn-primary primaryBtn mt-3" (click))="soumettre()"
                      id="submit-btn">&nbsp;&nbsp;&nbsp;&nbsp;S'inscrire&nbsp;&nbsp;&nbsp;</button>
                    <!-- <button class="col btn btn-primary" id="stopbutton">Fermer la camera</button> -->

                  </div>

                  <!-- <div class="d-flex align-items-center justify-content-center pb-4">
                  <button type="button" class="btn btn-primary primaryBtn "
                      id="submit-btn">&nbsp;&nbsp;&nbsp;&nbsp;S'inscrire&nbsp;&nbsp;&nbsp;</button>
                </div> -->
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
