<section id="ads" class="container-fluid bg-primaire mt-5 py-5">
  <div class="row text-center p-4">
      <div class="col-md-12 mb-3 mt-3 container">
          <h1 class="text-white mb-5">Sur EasyService, trouver le prestataire idéal pour vos bésoins</h1>
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
              class="whiteBtn text-center fw-semibold rounded-pill btn-lg mt-2 px-8 px-sm-12 shadow">&nbsp;&nbsp;&nbsp;Trouver
              un prestataire&nbsp;&nbsp;&nbsp;</a>
      </div>
  </div>
</section>
