   <!-- section categories -->
   <section id="categorie">
    <div class="container mt-5">
        <h5 class="mt-3 mb-3">De quoi avez-vous besoin ?</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="card bg-card-1">
                    <img src="./assets/images/chauffeur professionnel.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="card-text">Service de</span>
                        <h6>Conduite </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-card-2">
                    <img src="./assets/images/plombier.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="card-text">Service de</span>
                        <h6>Plombierie</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-card-3">
                    <img src="./assets/images/nettoyage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="card-text">Service de</span>
                        <h6>Nettoyage</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-card-4">
                    <img src="./assets/images/livreur.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span class="card-text">Service de</span>
                        <h6>Coursier</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end section categories -->
