<section id="avantage" class="bg-white">
  <br><br><br>
  <div class="container">
      <div class="row text-center p-4 mb-3">
          <h6>Avantages</h6>
          <h3>Les avantage de EasyService pour votre differentes prestations</h3>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="text-center">
                  <img src="./assets/images/icon-time.webp" alt="">
              </div>
              <h4 class="text-center">Rapidité</h4>
              <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae corporis,
                  quasi blanditiis voluptatibus aperiam et velit eius? Quod distinctio et quos, vitae repudiandae
                  placeat, obcaecati rerum doloribus, aspernatur adipisci tempora!</p>
          </div>
          <div class="col-md-4">
              <div class="text-center">
                  <img src="./assets/images/icon-tarifs.webp" alt="" srcset="">
              </div>
              <h4 class="text-center">Tarifs attractifs</h4>
              <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae corporis,
                  quasi blanditiis voluptatibus aperiam et velit eius? Quod distinctio et quos, vitae repudiandae
                  placeat, obcaecati rerum doloribus, aspernatur adipisci tempora!</p>
          </div>
          <div class="col-md-4">
              <div class="text-center">
                  <img src="./assets/images/icon-expertise.webp" alt="">
              </div>
              <h4 class="text-center">Expertise</h4>
              <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae corporis,
                  quasi blanditiis voluptatibus aperiam et velit eius? Quod distinctio et quos, vitae repudiandae
                  placeat, obcaecati rerum doloribus, aspernatur adipisci tempora!</p>
          </div>
      </div>
  </div>
</section>
