
<app-banner></app-banner>
<app-quality></app-quality>
<app-service></app-service>
<app-metiers></app-metiers>
<app-call-to-action></app-call-to-action>
<app-how-it-works></app-how-it-works>
<app-avantages></app-avantages>
<app-footer></app-footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Séléctionnez une categorie</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="#" id="searchForm" class="subscribe-form">
                  <div class="form-group d-flex">
                      <select class="form-control rounded-left" name="searchModal" id="searchModal">
                          <option value="">Choisir un secteur</option>
                          <option value="Nounou">Nounou</option>
                          <option value="Chauffeur">Chauffeur</option>
                      </select>
                      <input type="submit" value="Rechercher" class="form-control submit px-3 rounded-right">
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
